.git-author-container {
    text-align: right;
    color: rgba(0,0,0,0.65);
    position: relative;
}
.git-author-container .modified {
    position: absolute;
    top: 2rem;
}

.page-inner {
    max-width: calc(100% - 200px);
}

@font-face {
    font-family: 'DroidSansMono';
    src: url("/styles/DroidSansMono.ttf");
} 

pre * {
    font-family: 'DroidSansMono' !important;
}

@media(prefers-color-scheme: dark) {
    .git-author-container, .navigation:hover {
        color: #CCC;
        background-color: #222;
    }
    blockquote *:not(a) {
        color: #AAA;
    }
    .navigation {
        color: #111;
    }
    .book-summary, .book, .book .page-wrapper, .navigation, .book-body {
        background: #111;
    }
    .book pre, .book code, .markdown-section table tr, .book-header {
        background: #222;
    }
    .markdown-section table tr:nth-child(2n), .markdown-section hr {
        background: #333;
    }
    .book .normal, 
    .book .book-summary ul.summary li a,
    .book .book-summary ul.summary li span {
        color: #DDD;
    }
    .book-summary ul.summary li.active>a {
        color: #008cff;
    }
    .book-summary ul.summary, .book-summary {
        background: #171717;
    }
    @media (max-width: 1240px) {
        .book-body>a {
            background: #222;
        }
        .page-inner {
            max-width: calc(100% - 20px);
        }
    }
    .page-inner a:not(.plugin-anchor) {
        color: #489aeb !important;
    }
    .page-inner *:not(pre) > code {
        color: coral;
    }

    ::-webkit-scrollbar {
        background-color: #333;
        height: 1rem;
        width: 1rem;
    }

    ::-webkit-scrollbar-button {
        background-color: #222;
        color: #EEE
    }

    ::-webkit-scrollbar-thumb {
        background-color: #444;
        border-radius: 8px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
        border-radius: 8px;
    }

    ::-webkit-scrollbar-corner {
        background-color: #333;
    }
}